@model IEnumerable<LinkViewModel>

@if (Model.Any())
{
    <div class="landing-footer__social">
        @foreach (var link in Model)
        {
            <a href="@Url.Content(link.Url)" @Html.Raw(link.NewTab ? "target=\"_blank\"" : "") @Html.Raw(!String.IsNullOrEmpty(link.AriaLabel) ? $"aria-label=\"{link.AriaLabel}\"" : "")>
                <span class="@link.IconClass" aria-hidden="true"></span><span class="sr-only">@Html.Raw(link.Text)@Html.Raw(link.NewTab ? "<span class=\"sr-only\"> (opens in a new tab)" : "")</span>
            </a>
        }
    </div>
}