@model PageLocation

<div class="container">
    <div class="row">
        <div>@Model.LocationAddress1</div>
        <div>@Model.LocationAddress2</div>
        <div>@Model.LocationCity, @Model.LocationState @Model.LocationZipCode</div>
    </div>
</div> 