@model PageBaseViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cacheEnabled = !Context.Kentico().Preview().Enabled;   
}
<nav aria-label="Skip to" data-noindex="true">
    <a href="#mainContent" class="skipto">Skip to Main Content</a>
    <a href="#login" class="skipto">Skip to Online Banking Login</a>
    <a href="~/sitemap" class="skipto">Skip to Sitemap</a>
</nav>
<vc:alerts />
<header class="site-header">
    <div class="site-header__inner">
        <a href="/" class="logo">
            <img src="~/images/logo.svg" alt="Go to the Lincoln Savings Bank home page" />
        </a>
        <div class="d-flex flex-column justify-content-between">
            <cache expires-after="@TimeSpan.FromMinutes(60)" enabled="@cacheEnabled">
                <cache-dependency cache-keys="@CacheKeys.AuxiliaryNavigation" enabled="@cacheEnabled" />
                <vc:auxiliary-nav />
            </cache>
            <vc:primary-nav />
        </div>
        <a href="tel:@Model.PhoneNumberTelLink" class="call">
            <span class="fas fa-phone" aria-hidden="true"></span>
            <div>Call Us</div>
        </a>
        <partial name="_Search" />
        <cache expires-after="@TimeSpan.FromMinutes(60)" enabled="@cacheEnabled">
            <cache-dependency cache-keys="@CacheKeys.Navigation" enabled="@cacheEnabled" />
            <vc:hamburger-nav />
        </cache>
        <vc:login />
    </div>
</header>
<main id="mainContent">
    @RenderBody()
</main>
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="site-footer__contact">
                    <span class="site-footer__contact-heading">Get in Touch</span>
                    <a href="tel:@Model.PhoneNumberTelLink">@Model.PhoneNumber</a>
                    <a href="@Url.Content(Model.ContactPageUrl)">Contact Us Online</a>
                    <cache expires-after="@TimeSpan.FromMinutes(60)" enabled="@cacheEnabled">
                        <cache-dependency cache-keys="@CacheKeys.SocialMedia" enabled="@cacheEnabled" />
                        <vc:social-media-links />
                    </cache>
                </div>
                <ul class="list-unstyled site-footer__routing">
                    <li><strong>Routing: 073905527</strong> (Lincoln Savings Bank)</li>
                    <li><strong>Routing: 073923033</strong> (Cash App, M1, Qapital or Acorns)</li>
                </ul>
                <cache expires-after="@TimeSpan.FromMinutes(60)" enabled="@cacheEnabled">
                    <cache-dependency cache-keys="@CacheKeys.Settings" enabled="@cacheEnabled" />
                    <vc:seo-text />
                </cache>
            </div>
            <div class="col-lg-5 offset-lg-1">
                @*<vc:footer-nav />*@
                <div class="d-lg-flex justify-content-between align-items-center">
                    <small>
                        &copy; Lincoln Savings Bank @(DateTime.Now.Year) | NMLS #480330<br />
                        Website by <a href="https://www.zaginteractive.com" target="_blank">ZAG Interactive</a>
                    </small>
                    <div class="site-footer__emblems">
                        <a href="@Url.Content(Model.PrivilegedStatusUrl)" class="privileged">
                            <img src="~/images/privileged.png" alt="Priviliged Status" />
                        </a>
                        <img class="ehl" src="~/images/ehl.svg" alt="Equal Housing Lender" />
                        <img class="fdic" src="~/images/fdic.svg" alt="Member FDIC" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>