@model CrossPromo

<aside class="cross-promo" aria-labelledby="crossPromoHeading_@Model.NodeID" id="cross-promo_@(Model.NodeID)">
    <div class="cross-promo__bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-lg-flex flex-column align-items-end">
                <img src="@Url.Content(Model.CrossPromoImage)" alt="" aria-hidden="true" class="cross-promo__img" />
            </div>
            <div class="col-lg-5 offset-lg-1 d-lg-flex flex-column justify-content-end align-items-start">
                <h2 id="crossPromoHeading_@Model.NodeID" class="cross-promo__heading">@Html.Raw(Model.CrossPromoName)</h2>
                <div class="cross-promo__sub">@Html.Raw(Model.CrossPromoSubtext)</div>
                @if (!String.IsNullOrEmpty(Model.CrossPromoButtonText) && !String.IsNullOrEmpty(Model.CrossPromoButtonUrl))
                {
                    <a href="@Url.Content(Model.CrossPromoButtonUrl)" class="btn btn-secondary cross-promo__cta" @Html.Raw(Model.CrossPromoButtonNewTab ? "target=\"_blank\"" : "") @Html.Raw(!String.IsNullOrEmpty(Model.CrossPromoButtonAriaLabel) ? $"aria-label=\"{Model.CrossPromoButtonAriaLabel}\"" : "")>@Html.Raw(Model.CrossPromoButtonText)@Html.Raw(Model.CrossPromoButtonNewTab ? "<span class=\"sr-only\"> (opens in a new tab)</span>" : "")</a>
                }
            </div>
        </div>
    </div>
</aside>