@model MastheadViewModel

<header class="masthead" aria-labelledby="pageTitle" id="masthead_@(Model.NodeID)">
    <div class="masthead__bg">
        <div class="container">
            <img src="~/images/triangle-tr-bg.svg" alt="" aria-hidden="true" class="masthead__decoration os-animation" data-os-animation="animate__slideInRight" />
            <div class="row">
                <div class="col-lg-4 d-flex flex-column justify-content-center">
                    <vc:breadcrumb />
                    <h1 id="pageTitle">@Html.Raw(Model.Heading)</h1>
                </div>
                @if (Model.Link1 != null || Model.Link2 != null)
                {
                    <div class="masthead__ctas">
                        <div class="masthead__ctas-inner os-animation" data-os-animation="animate__fadeInUp">
                            @if (Model.Link1 != null)
                            {
                                <a href="@Url.Content(Model.Link1.Url)" class="masthead__cta" @Html.Raw(Model.Link1.NewTab ? "target=\"_blank\"" : "") @Html.Raw(!String.IsNullOrEmpty(Model.Link1.AriaLabel) ? $"aria-label=\"{Model.Link1.AriaLabel}\"" : "")>
                                    @Html.Raw(Model.Link1.Text)@Html.Raw(Model.Link1.NewTab ? "<span class=\"sr-only\"> (opens in a new tab)" : "")
                                </a>
                            }
                            @if (Model.Link2 != null)
                            {
                                <div class="masthead__ctas-divider"></div>
                                <a href="@Url.Content(Model.Link2.Url)" class="masthead__cta" @Html.Raw(Model.Link2.NewTab ? "target=\"_blank\"" : "") @Html.Raw(!String.IsNullOrEmpty(Model.Link2.AriaLabel) ? $"aria-label=\"{Model.Link2.AriaLabel}\"" : "")>
                                    @Html.Raw(Model.Link2.Text)@Html.Raw(Model.Link2.NewTab ? "<span class=\"sr-only\"> (opens in a new tab)" : "")
                                </a>
                            }
                        </div>
                    </div>
                }
                <div class="col-lg-6 offset-lg-2">
                    <img src="@Url.Content(Model.Image)" class="masthead__img" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 masthead__nav-container">
                <vc:internal-nav />
            </div>
        </div>
    </div>
</header>