@model Resources
<aside class="resources" aria-label="resources">
    <div class="container d-lg-flex">
        <div class="row flex-lg-grow-1">
            <div class="col-lg-11 offset-lg-1 d-lg-flex">
                <h2 class="resources__heading">
                    @Html.Raw(Model.Fields.Heading)
                </h2>
                @if (Model.Fields.Resources.OfType<Link>().Any())
                {
                    <ul class="resources__list staggered-animation-container">
                        @for (int i = 0; i < Model.Fields.Resources.OfType<Link>().Count(); i++)
                        {
                            Link link = Model.Fields.Resources.OfType<Link>().ElementAt(i) as Link;
                            <li class="resource staggered-animation" data-os-animation="animate__fadeInUp" data-os-animation-delay="@(i * .3)s">
                                <a href="@Url.Content(link.Fields.Url)" @Html.Raw(link.Fields.NewTab ? "target=\"_blank\"" : "") @Html.Raw(!String.IsNullOrEmpty(link.Fields.AriaLabel) ? $"aria-label=\"{link.Fields.AriaLabel}\"" : "")>
                                    <img src="@Url.Content(link.Fields.IconImage)" class="resource__icon" alt="" aria-hidden="true" />
                                    @Html.Raw(link.Fields.Text)@Html.Raw(link.Fields.NewTab ? "<span class=\"sr-only\"> (opens in a new tab)" : "")
                                </a>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</aside>