@model Resources
@{ 
    var links = Model.Fields.Resources.OfType<Link>();
}

<aside class="resources @(Model.ResourcesHasBackground ? "resources resources--has-bg" : "")" aria-label="resources" id="resources_@(Model.NodeID)">
    <div class="container d-lg-flex">
        <div class="row flex-lg-grow-1">
            <div class="col-lg-11 offset-lg-1 d-lg-flex">
                <h2 class="resources__heading">
                    @Html.Raw(Model.ResourcesHeading)
                </h2>
                @if (links.Any())
                {
                    <ul class="resources__list staggered-animation-container">
                        @for (int i = 0; i < links.Count(); i++)
                        {
                            Link link = links.ElementAt(i) as Link;
                            <li class="resource staggered-animation" data-os-animation="animate__fadeInUp" data-os-animation-delay="@(i * .3)s">
                                <a href="@Url.Content(link.LinkUrl)" @Html.Raw(link.LinkNewTab ? "target=\"_blank\"" : "") @Html.Raw(!String.IsNullOrEmpty(link.LinkAriaLabel) ? $"aria-label=\"{link.LinkAriaLabel}\"" : "")>
                                    <img src="@Url.Content(link.LinkIconImage)" class="resource__icon" alt="" aria-hidden="true" />
                                    @Html.Raw(link.LinkText)@Html.Raw(link.LinkNewTab ? "<span class=\"sr-only\"> (opens in a new tab)</span>" : "")
                                </a>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</aside>